*

!.config/

!.config/ashell/
!.config/ashell/**
!.config/flameshot/
!.config/flameshot/**
!.config/ghostty/
!.config/ghostty/**
!.config/alacritty/
!.config/alacritty/**
!.config/hypr/
!.config/hypr/**
!.config/nvim/
!.config/nvim/**
!.config/tmux/
!.config/tmux/**
!.config/wofi/
!.config/wofi/**

!.zshrc
!.gitignore
!install.sh
